<div class="container-search">
    <h3 class="title-search">Weather in your city</h3>
    <div class="input-search">
        <input 
            type="text" 
            placeholder="Your city name" 
            [value]="city"
            (input)="city = $event.target.value"    
        >
        <i class="ion ion-ios-search-strong" (click)="handleClick()"></i>
    </div>
</div>
<div class="container-list" *ngIf="citys.length > 0"> 
    <Card *ngFor='let current_city of citys'
        [properties]="current_city"
        class="card"
    ></Card>
</div>
